################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChicosChat/ChicosChat/bin/Debug/net452/win7-x86
