<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>

 <connectionStrings>
   <add name = "ConnString" connectionString = "
        Data Source = ;        
        DataBase=;
        Integrated Security=; 
        User ID = ; 
        Password=;"
   providerName = "System.Data.SqlClient"/>
</connectionStrings>


</configuration>
